* {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.row::after {
    content: " ";
    clear: both;
    display: table;
}
.col-3, .col-4, .col-5, .col-6 {
    float: left;
    padding: 30px;
    width: 100%;
}



@media screen and (min-width: 640px) {
    .col-3 {
        width: 33.333%;
    }
    .col-4 {
        width: 25%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 33.333%;
    }
    
}
