body {
    background-color: rgb(99, 0, 0);
    margin: 0;
    
}

.navigation {
    position: absolute;
    width: 100%;
    background-color: rgba(99, 0, 0, 0.397);
    padding: 20px;
    float: left;
    
}
.navigation .links .link {
    display: inline;
    list-style: none;
   

}
.navigation .links .link a {
    text-decoration: none;
    font-size: 20px;
    color: burlywood; 
    padding: 30px;
        
}

.navigation .links .link :hover {
    color: red;
    letter-spacing: 1px;
}

.top {
    background-image: url("cover.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
}
#text, h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#text, h4 {
        text-align: center;

}
#text, h4::before {
    content: ">>>>>>";
    position: relative;
    margin-right: 5px;
    
    
}
#text, h4::after {
    content: "<<<<<<";
    position: relative;
    margin-left: 5px;
    
}
.team { 
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    border-radius: 30%;
    overflow: hidden;
    }
.row {
    text-align: center;
    color: burlywood;
    overflow: hidden;
    
}

h1, h3 {
    text-align: center;
    border-bottom: 10px groove brown;
}
.middle {
    padding: 50px;

}
h2 {
    text-align: center;
    text-transform: capitalize;
    color: burlywood;
    
}
    
.gal {
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    border-radius: 20%;
    overflow: hidden;
    
}

.form {
    float: left;
    padding: 5px;
    padding-bottom: 50px;
}
.kontakt1 {
    padding-top: 5px;
}
.kontakt1 .detail {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
}
.detail {
    font-size: 20px;
    padding-left: 10px;
}
.kontakt1 .text {
    width: 300px;
    height: 100px;
    border-radius: 4px;
    border-style: none;
}
.text {
    font-size: 20px;
    padding-left: 10px;
}
textarea {
    outline: none;
    resize: none;
}
.kontakt1 .button {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: burlywood;
    color: brown;
    font-size: 20px;
    text-transform: capitalize;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 25%;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100%;
  }
  .fa-instagram {
    background: brown;
    color: white;
    border-radius: 25%;
  }
  .footer {
    text-align: center;
    width: 100%;
    background-color: burlywood;
    padding: 15px;
    margin-top: 50px;
  }
  